---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  llvm-include-order
CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: \$
  - key: readability-identifier-length.IgnoredParameterNames
    value: \$